.journey .discovery__img img:nth-child(1) {
    position: relative;
    z-index: 3;
    display: block;
    margin: unset;
    margin-left: auto;
    max-width: 610px;
    height: auto;
    margin-top: auto;
    /* border: 1px solid green; */

}


.journey .discovery__img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 755px;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    object-fit: contain;
    object-position: center;
    /* background: linear-gradient(238.21deg, #2A213F 8.76%, rgba(25, 25, 25, 0) 50.09%); */
    z-index: 2;
    /* border: 1px solid rgb(128, 49, 0); */
}


.journey .dream {
    >img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }
}


.story .story__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    .story__values {
        flex-basis: 520px;
    }

    .story__trust {
        /* flex-grow: 1; */
        border: 1px solid #262626;
        box-shadow: 0px 0px 0px 8px #191919;
        border-radius: 12px;
        padding: 50px 60px;
    }

    .story__values img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }

    .story__values h2 {
        font-weight: 600;
        font-size: clamp(1.75rem, 1.5rem + 1.250vw, 3rem);
        line-height: 150%;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .story__values p {
        font-weight: 500;
        font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
        line-height: 150%;
        color: #999999;
    }
}

.story {
    margin-bottom: 110px;
}

.story__trust ul {
    li:first-child {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #262626;
    }

    li {
        display: flex;
        align-items: center;
        /* gap: 50px; */

        .story__trust-item:first-of-type {
            margin-right: 30px;
            padding-right: 30px;
            border-right: 1px solid #262626;
        }

        .story__trust-head {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 16px;

            .trust__head-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #703BF7;
                background-color: #141414;

                img {
                    width: 28px;
                    height: 28px;
                }
            }

            >span {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #FFFFFF;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #999999;
            max-width: 410px;
        }
    }
}


.journey .dream {
    padding-left: 0;
}

.journey .dream__items {
    padding-left: 0;
}

.achievements {
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.achievements__top {
    max-width: 1300px;
    margin-bottom: clamp(2.5rem, 2rem + 2.500vw, 5rem);

    >img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }

    h2 {
        font-weight: 600;
        font-size: clamp(1.75rem, 1.5rem + 1.250vw, 3rem);
        line-height: 150%;
        color: #FFFFFF;
    }

    p {
        font-weight: 500;
        font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
        line-height: 150%;
        color: #999999;
    }
}

.achievements__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 40px;

    .achievements__item {
        padding: clamp(1.875rem, 1.625rem + 1.250vw, 3.125rem);
        border: 1px solid #262626;
        box-shadow: 0px 0px 0px 8px #191919;
        border-radius: 12px;

        h3 {
            font-weight: 600;
            font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
            line-height: 150%;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        p {
            font-weight: 500;
            font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
            line-height: 150%;
            color: #999999;
        }
    }
}

.experience {
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.experience .achievements__top {
    max-width: 100%;
}

.experience .achievements__top {
    margin-bottom: 80px;
}

.experience__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
    gap: 30px;
    align-items: end;
}

.experience .experience__item {
    .experience__item-title {
        font-weight: 500;
        font-size: clamp(1rem, 0.95rem + 0.250vw, 1.25rem);
        line-height: 150%;
        color: #FFFFFF;
        border-left: 1px solid #703BF7;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: clamp(1rem, 0.95rem + 0.250vw, 1.25rem);
        padding-right: 20px;


    }

    .experience__item-body {
        height: 238px;

        padding: clamp(1.875rem, 1.625rem + 1.250vw, 3.125rem);
        border-radius: 0px 12px 12px 12px;
        border: 1px solid transparent;
        background-image:
            linear-gradient(120.79deg, rgba(112, 59, 247, 0.2) -49.01%, #141414 15%),
            radial-gradient(circle at 0% 0%, #703BF7 0%, transparent 70%),
            linear-gradient(to bottom, #703BF7, transparent),
            linear-gradient(to right, #703BF7, transparent),
            linear-gradient(#262626, #262626);

        background-size:
            100% 100%,
            150px 150px,
            1px 150px,
            150px 1px,
            100% 100%;

        background-repeat: no-repeat;
        background-position: 0 0;
        background-origin: border-box;
        background-clip: padding-box, border-box, border-box, border-box, border-box;



        h3 {
            font-weight: 600;
            font-size: clamp(1.125rem, 1.025rem + 0.500vw, 1.625rem);
            line-height: 150%;
            color: #FFFFFF;
            padding-bottom: 20px;
        }

        p {
            font-weight: 500;
            font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
            line-height: 150%;
            color: #999999;
        }
    }
}

.team {
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.team__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
    gap: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);

    .team__card {
        border: 1px solid #262626;
        border-radius: 12px;
        padding: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);

        .team__card-person {
            position: relative;
            padding-bottom: clamp(2.5rem, 2.375rem + 0.625vw, 3.125rem);

            >img {
                border-radius: 12px;
                width: 100%;
                height: 100%;
            }

            .team__card-social {
                padding: 16px 26px;
                border-radius: 99px;
                background-color: #703BF7;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 24px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        >h3 {
            font-weight: 600;
            font-size: clamp(1rem, 0.9rem + 0.500vw, 1.5rem);
            line-height: 28px;
            color: #FFFFFF;
            text-align: center;
            padding-bottom: 6px;
        }

        >h4 {
            font-weight: 500;
            font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
            line-height: 24px;
            color: #999999;
            text-align: center;
            padding-bottom: 1.5rem;
        }

        .team__card-input {
            position: relative;

            input {
                background-color: #1A1A1A;
                border: 1px solid #262626;
                border-radius: 99px;
                width: 100%;
                padding: 22px 24px;
                color: #fff;

                &::placeholder {
                    color: #FFFFFF;
                }
            }

            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: .5rem;
                cursor: pointer;
                user-select: none;
                -webkit-tap-highlight-color: transparent;

                /* pointer-events: none; */

                &:active {
                    transform: translateY(-50%) scale(.94)
                }
            }
        }

    }
}


.enterprises__items {
    display: flex;
    gap: 50px;
    align-items: start;
    /* padding-bottom: 50px;
    margin-bottom: 20px; */
    border-bottom: 1px solid #262626;
    overflow-x: auto;
    padding: 8px 8px 50px 8px;
    margin: -8px -8px 20px -8px;

    .enterprises__item {
        background-color: #141414;
        border: 1px solid #262626;
        box-shadow: 0px 0px 0px 8px #191919;
        border-radius: 12px;
        padding: clamp(1.5rem, 1.175rem + 1.625vw, 3.125rem);
        min-width: 770px;

        .enterprises__visits {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;

            .enterprises__visits-item {
                display: flex;
                flex-direction: column;
                gap: 6px;

                span {
                    font-weight: 500;
                    font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
                    line-height: 150%;
                    color: #999999;
                }

                h3 {
                    font-weight: 600;
                    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }

            >button {
                font-weight: 500;
                font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
                line-height: 150%;
                color: #FFFFFF;
                padding: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem) 24px;
                background: #1A1A1A;
                border: 1px solid #262626;
                border-radius: 10px;
                cursor: pointer;

                &:active {
                    transform: translateY(-2px);
                }
            }
        }

        .enterprises__category {
            display: flex;
            gap: 60px;
            align-items: center;
            margin-bottom: 40px;

            .enterprises__category-item {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: relative;

                .enterprises__category-title {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 17px;
                        height: 17px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 150%;
                        color: #999999;
                    }
                }

                .enterprises__category-descr {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                    color: #FFFFFF;
                }

                &:first-of-type::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 100%;
                    background-color: #262626;
                    right: -30px;
                }
            }
        }

        .enterprises__message {
            padding: 30px;
            border: 1px solid #262626;
            border-radius: 12px;

            >span {
                font-weight: 500;
                font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
                line-height: 150%;
                color: #999999;
                display: inline-block;
                padding-bottom: 14px;
            }

            p {
                font-weight: 500;
                font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
                line-height: 150%;
                color: #FFFFFF;
            }
        }
    }
}

@media (width < 1440px) {

    .story .story__items {
        gap: 30px;
    }

    .story,
    .achievements,
    .experience,
    .team,
    .enterprises,
    .enterprises {
        padding-left: 40px;
        padding-right: 40px;
    }


    .story .story__items .story__trust {
        padding: 20px 30px;
    }

    .journey .discovery__img img:nth-child(2) {
        /* height: 540px; */
        height: clamp(16.563rem, -0.625rem + 85.938vw, 33.75rem);
        object-fit: fill;
    }

    .team__cards .team__card .team__card-person .team__card-social {
        padding: 12px 20px;
    }

    .enterprises__items .enterprises__item {
        padding: 40px;
    }
}

@media (width < 1270px) {
    .story .story__items {
        display: block;
    }

    .story__values {
        margin-bottom: 60px;
    }

    .story__trust .story__trust-item {
        flex-basis: 50%;
    }
}

@media (width < 1260px) {
    .journey .discovery__items {
        grid-template-columns: 4fr 3fr;
    }
}


@media (width < 1300px) {
    .journey .discovery__inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (width < 1260px) {

    .journey .discovery__inner,
    .achievements,
    .story,
    .experience,
    .team,
    .enterprises,
    .enterprises {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (width < 1120px) {
    .journey .discovery__items {
        display: flex;
        flex-direction: column;
    }

    .journey .discovery__img {
        order: 1;
        padding-top: 60px;
        margin: 0 auto;
    }

    .journey .dream {
        order: 2;
    }

    .journey .dream__items {
        order: 3;
    }

    .journey .dream__items li {
        flex-grow: 1;
    }

    .journey .dream__title {
        max-width: 100%;
    }

}

@media (width < 880px) {

    .journey .discovery__inner,
    .story,
    .achievements,
    .experience,
    .team,
    .enterprises,
    .enterprises {
        padding-left: 16px;
        padding-right: 16px;
    }

    .enterprises__visits {
        display: block !important;

        button {
            width: 100% !important;
        }

        .enterprises__visits-item {
            margin-bottom: 20px;
        }
    }

}



@media (width < 769px) {
    .story {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (width < 670px) {
    .story__trust ul li {
        flex-direction: column;
    }

    .story__trust ul li .story__trust-item:first-of-type {
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;

    }


    .story__trust ul li .story__trust-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .story__trust-item {
        width: 100%;
    }

    .story__trust ul li p {
        max-width: 100%;
    }

    .story__trust ul li:first-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .story .story__items .story__trust {
        padding: 24px;
    }

    .story__trust ul li .story__trust-item {
        border-bottom: 1px solid #262626;
    }

    .story__trust ul li:nth-child(2) .story__trust-item:nth-child(2) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

}

@media (width < 520px) {

    .achievements__items,
    .experience__items,
    .team__cards {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    }
}