.journey .discovery__img img:nth-child(1) {
    position: relative;
    z-index: 3;
    display: block;
    margin: unset;
    margin-left: auto;
    max-width: 610px;
    height: auto;
    margin-top: auto;
    /* border: 1px solid green; */

}


.journey .discovery__img img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 755px;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    object-fit: contain;
    object-position: center;
    /* background: linear-gradient(238.21deg, #2A213F 8.76%, rgba(25, 25, 25, 0) 50.09%); */
    z-index: 2;
    /* border: 1px solid rgb(128, 49, 0); */
}


.journey .dream {
    >img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }
}


.story .story__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    .story__values {
        flex-basis: 520px;
    }

    .story__trust {
        /* flex-grow: 1; */
        border: 1px solid #262626;
        box-shadow: 0px 0px 0px 8px #191919;
        border-radius: 12px;
        padding: 50px 60px;
    }

    .story__values img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }

    .story__values h2 {
        font-weight: 600;
        font-size: 38px;
        line-height: 150%;
        color: #FFFFFF;
        padding-bottom: 10px;
    }

    .story__values p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #999999;
    }
}

.story {
    margin-bottom: 110px;
}

.story__trust ul {
    li:first-child {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #262626;
    }

    li {
        display: flex;
        align-items: center;
        /* gap: 50px; */

        .story__trust-item:first-of-type {
            margin-right: 30px;
            padding-right: 30px;
            border-right: 1px solid #262626;
        }

        .story__trust-head {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 16px;

            .trust__head-img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #703BF7;
                background-color: #141414;

                img {
                    width: 28px;
                    height: 28px;
                }
            }

            >span {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #FFFFFF;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #999999;
            max-width: 410px;
        }
    }
}


.journey .dream {
    padding-left: 0;
}

.journey .dream__items {
    padding-left: 0;
}

.achievements {
    margin-bottom: 110px;
}

.achievements__top {
    max-width: 1300px;
    margin-bottom: 110px;

    >img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 150%;
        color: #FFFFFF;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #999999;
    }
}

.achievements__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 40px;

    .achievements__item {
        padding: clamp(1.875rem, 1.625rem + 1.250vw, 3.125rem);
        border: 1px solid #262626;
        box-shadow: 0px 0px 0px 8px #191919;
        border-radius: 12px;

        h3 {
            font-weight: 600;
            font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
            line-height: 150%;
            color: #FFFFFF;
            padding-bottom: 30px;
        }

        p {
            font-weight: 500;
            font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
            line-height: 150%;
            color: #999999;
        }
    }
}

.experience .achievements__top {
    max-width: 100%;
}



@media (width < 1440px) {

    .story .story__items {
        gap: 30px;
    }

    .story,
    .achievements {
        padding-left: 40px;
        padding-right: 40px;
    }


    .story .story__items .story__trust {
        padding: 20px 30px;
    }
}

@media (width < 1270px) {
    .story .story__items {
        display: block;
    }

    .story__values {
        margin-bottom: 60px;
    }

    .story__trust .story__trust-item {
        flex-basis: 50%;
    }
}

@media (width < 1260px) {
    .journey .discovery__items {
        grid-template-columns: 4fr 3fr;
    }
}

@media (width < 1440px) {
    .journey .discovery__img img:nth-child(2) {
        /* height: 540px; */
        height: clamp(16.563rem, -0.625rem + 85.938vw, 33.75rem);
        object-fit: fill;
    }
}

@media (width < 1300px) {
    .journey .discovery__inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (width < 1260px) {

    .journey .discovery__inner,
    .achievements,
    .story {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (width < 1120px) {
    .journey .discovery__items {
        display: flex;
        flex-direction: column;
    }

    .journey .discovery__img {
        order: 1;
        padding-top: 60px;
        margin: 0 auto;
    }

    .journey .dream {
        order: 2;
    }

    .journey .dream__items {
        order: 3;
    }

    .journey .dream__items li {
        flex-grow: 1;
    }

    .journey .dream__title {
        max-width: 100%;
    }

}

@media (width < 880px) {

    .journey .discovery__inner,
    .story,
    .achievements {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (width < 769px) {
    .story {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (width < 670px) {
    .story__trust ul li {
        flex-direction: column;
    }

    .story__trust ul li .story__trust-item:first-of-type {
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;

    }


    .story__trust ul li .story__trust-item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .story__trust-item {
        width: 100%;
    }

    .story__trust ul li p {
        max-width: 100%;
    }

    .story__trust ul li:first-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .story .story__items .story__trust {
        padding: 24px;
    }

    .story__trust ul li .story__trust-item {
        border-bottom: 1px solid #262626;
    }

    .story__trust ul li:nth-child(2) .story__trust-item:nth-child(2) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

}