body {
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    background-color: #141414;
}

.container {
    max-width: 1942px;
    margin: 0px auto;
    padding: 0 11px;
}

.cont-cover {
    max-width: 1920px;
    margin: 0px auto;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.p-x {
    padding-left: clamp(5rem, -10.375rem + 17.083vw, 10.125rem);
    padding-right: clamp(5rem, -10.375rem + 17.083vw, 10.125rem);
}

.p-l {
    padding-left: 162px;
}

.p-r {
    padding-right: 162px;
}

/* .header__inner {
    position: relative;
} */


header {
    position: sticky;
    top: 0;
    z-index: 14;
}

#burger {
    display: none;
}

.header__inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background: url(../img/home/header-decore.png) no-repeat center / cover;
    z-index: -1;
    background-color: #141414;
}

header span {
    position: absolute;
    top: 15px;
    right: 32px;
    display: inline-block;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303030;
    cursor: pointer;
}

header span img {
    width: 12px;
    height: 12px;
}

header .close:active {
    transform: scale(.90);
}



.header__inner-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px 0;
    position: relative;

    p {
        font-weight: 500;
        /* font-size: 18px; */
        font-size: clamp(0.75rem, -0.104rem + 3.333vw, 1.125rem);
        line-height: 150%;
        color: #FFFFFF;
    }

    a {
        font-weight: 500;
        /* font-size: 18px; */
        font-size: clamp(0.75rem, -0.104rem + 3.333vw, 1.125rem);
        line-height: 150%;
        color: #FFFFFF;
        text-decoration: underline;
    }
}

.header__inner-bottom {
    padding-block: 19px;
    background-color: #191919;

    .header__bottom-cover {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 160px;
            height: 48px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .burger__menu {
            display: none;
        }


        nav ul {
            display: flex;
            align-items: center;
            gap: 6px;

            li {
                a {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    color: #FFFFFF;
                    padding: 13px 24px;
                    border-radius: 10px;
                    border: 1px solid transparent;
                }

                &:active a {
                    border: 1px solid #262626;
                    background-color: #141414;
                }

                &:hover a {
                    border: 1px solid #262626;
                    background-color: #141414;
                }

                &:focus-within a {
                    border: 1px solid #262626;
                    background-color: #141414;
                }

                &:focus a {
                    border: 1px solid #262626;
                    background-color: #141414;
                }
            }
        }

    }




    .header__contact {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        border: 1px solid #262626;
        background-color: #141414;
        border-radius: 10px;
        cursor: pointer;
        padding: 16px 24px;

        &:hover {
            background-color: #242424;
            border: 1px solid #3a3a3a;
        }

        &:active {
            transform: scale(.96);
        }
    }
}

main {
    /* margin-bottom: 110px; */
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.discovery {
    /* margin-bottom: 110px; */
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}


.discovery__items {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 11fr 10fr;
    grid-template-rows: 1fr auto;
    /* align-items: center; */
}

h1 {
    font-weight: 600;
    /* font-size: 60px; */
    font-size: clamp(2.875rem, 0.25rem + 2.917vw, 3.75rem);
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 24px;
    max-width: 600px;
    width: 100%;
}

.dream {
    padding-left: clamp(5rem, -10.375rem + 17.083vw, 10.125rem);
    padding-top: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.dream__title {
    font-weight: 500;
    /* font-size: 18px; */
    font-size: clamp(1rem, 0.625rem + 0.417vw, 1.125rem);
    line-height: 150%;
    color: #999999;
    margin-bottom: 60px;
    /* max-width: 730px; */
    max-width: clamp(38.125rem, 15.625rem + 25.000vw, 45.625rem);
}

.dream__btns {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        border: 1px solid #262626;
        border-radius: 10px;
        padding: 18px 24px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.dream__btns.btns {
    margin-bottom: 60px;
}

.dream__btns button.active {
    background: #703BF7;
    border: 1px solid transparent;
}

.dream__btns button:active {
    transform: translateY(-2px);
}

.discovery__img {
    position: relative;
    /* max-width: 920px; */
    /* width: clamp(43.125rem, 0rem + 47.917vw, 57.5rem); */
    height: auto;
    grid-column: -1 / -2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}


.discovery__img img:nth-child(1) {
    position: relative;
    z-index: 3;
    display: block;
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    /* width: clamp(31.375rem, 20.5rem + 12.083vw, 35rem); */
    height: auto;
    margin-top: auto;
}


.discovery__img img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* background: linear-gradient(238.21deg, #2A213F 8.76%, rgba(25, 25, 25, 0) 50.09%); */
    z-index: 2;
}

.discovery__img img:nth-child(3) {
    position: absolute;
    left: -4%;
    top: 16%;
    /* width: 175px;
    height: 175px; */
    width: clamp(8.125rem, -0.312rem + 9.375vw, 10.938rem);
    height: clamp(8.125rem, -0.312rem + 9.375vw, 10.938rem);
}

.dream__items {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 1 / 2;
    grid-row: -1 / -2;
    padding-left: clamp(5rem, -10.375rem + 17.083vw, 10.125rem);
    padding-bottom: 100px;
}

.dream__items li {
    padding: 16px 24px;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;

    span {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        color: #FFFFFF;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #999999;
    }
}

.discovery__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    /* display: flex;
    gap: 20px; */

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex: 1;
        /* max-width: 455px; */
        width: 100%;
        height: 212px;
        position: relative;

        background: #1A1A1A;
        border: 1px solid #262626;
        border-radius: 12px;

        span {
            font-weight: 600;
            /* font-size: 20px; */
            font-size: clamp(1rem, 0.25rem + 0.833vw, 1.25rem);
            line-height: 150%;
            color: #FFFFFF;
        }
    }
}

.discovery__cards li img:nth-of-type(2) {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
}

.discovery__cards-cover {
    padding: 20px;
    border: 10px solid #1A1A1A;
    box-shadow: inset 0 0 0 2px #262626;
    margin: 0 -11px;
}


.title-block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* margin-bottom: 80px; */
    margin-bottom: clamp(2.5rem, 2rem + 2.500vw, 5rem);

    img {
        width: 69px;
        height: auto;
        padding-bottom: 10px;
    }

    .title-block-top h2 {
        font-weight: 600;
        /* font-size: 48px; */
        font-size: clamp(2.375rem, 0.5rem + 2.083vw, 3rem);
        line-height: 150%;
        color: #FFFFFF;
        padding-bottom: 14px;
    }

    .title-block-top p {
        font-weight: 500;
        /* font-size: 18px; */
        font-size: clamp(1rem, 0.625rem + 0.417vw, 1.125rem);
        line-height: 150%;
        color: #999999;
        /* max-width: 1140px; */
        max-width: clamp(59.5rem, 24.812rem + 38.542vw, 71.063rem);
        width: 100%;
    }

    .title-block-btn button {
        font-weight: 500;
        /* font-size: 18px; */
        font-size: clamp(0.875rem, 0.125rem + 0.833vw, 1.125rem);
        line-height: 150%;
        color: #FFFFFF;
        padding: clamp(0.875rem, 0.125rem + 0.833vw, 1.125rem) clamp(1.25rem, 0.5rem + 0.833vw, 1.5rem);
        border: 1px solid #262626;
        border-radius: 10px;
        background: #1A1A1A;
        cursor: pointer;

        &:active {
            transform: scale(.96);
        }
    }
}

.featured {
    /* margin-bottom: 110px; */
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.featured__cards {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(512px, 1fr)); */
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #262626;
    overflow-x: auto;
}

.featured__card {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 40px;
    min-width: 512px;

    >img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        padding-bottom: 6px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #999999;
        padding-bottom: 30px;

        a {
            text-decoration: underline;
            color: #fff;
        }
    }

    .featured__rooms {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        li {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px 14px;
            border: 1px solid #262626;
            border-radius: 28px;
            background-color: #1A1A1A;

            img {
                width: 24px;
                height: 24px;
            }

            span {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #fff;
            }
        }
    }

    .featured__card-price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .featured__totalprice {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .featured__totalprice span:first-child {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #999999;
        }

        .featured__totalprice span:last-child {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
        }

        button {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 18px 55px;
            background-color: #703BF7;
            border-radius: 10px;
            cursor: pointer;

            &:active {
                transform: scale(.95);
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pagination__num {
        color: #999999;
    }

    .pagination__num span:nth-of-type(1) {
        color: #fff;
    }

    .pagination__num span:nth-of-type(2) {
        color: #999999;
    }

    .pagination__arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button {
            width: 58px;
            height: 58px;
            border: 1px solid #262626;
            border-radius: 50%;
            background-color: #141414;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button:nth-of-type(2) svg {
            transform: rotate(180deg);
        }

        button.active {
            background-color: #1A1A1A;
        }

        button.active svg path {
            fill: #fff;
        }


    }
}

.clients {
    /* margin-bottom: 110px; */
    margin-bottom: clamp(3.75rem, 3.125rem + 3.125vw, 6.875rem);
}

.clients .clients__cards {
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #262626;
    overflow-x: auto;

    .clients__card {
        background-color: #141414;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 50px;
        min-width: 512px;

        .clients__card-list {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 40px;

            li {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: #1A1A1A;
                border: 1px solid #262626;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;


                img {
                    width: 22px;
                    height: 22px;
                    transition: all .3s ease-in-out;
                    transform-origin: center center;
                }

                &:active img {
                    transform: rotate(180deg) translate(1px, -1px);
                    ;

                }

                &:hover img {
                    transform: rotate(180deg) translate(1px, -1px);

                }
            }
        }

        >h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
            padding-bottom: 14px;
        }

        >p {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            margin-bottom: 40px;
        }

        .clients__card-person {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .clients__card-descr {
                display: flex;
                flex-direction: column;
                gap: 2px;

                span:first-child {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                    color: #FFFFFF;
                }

                span:last-child {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    color: #999999;
                }
            }
        }
    }
}


.frequently__items {
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #262626;
    overflow-x: auto;

    .frequently__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: #141414;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 50px;
        min-width: 512px;

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
            /* padding-bottom: 30px; */
        }

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            color: #999999;
        }

        a {
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            line-height: 131%;
            letter-spacing: -0.006em;
            color: #FFFFFF;
            border: 1px solid #262626;
            border-radius: 10px;
            background-color: #1A1A1A;
            padding: 18px 24px;
            margin-top: auto;
            max-width: 137px;
            text-align: center;
            cursor: pointer;

            &:active {
                transform: scale(.96);
            }
        }
    }
}

.title-block.footer-btn button {
    color: #FFFFFF;
    padding: 18px 24px;
    background-color: #703BF7;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    &:active {
        transform: scale(.95);
    }
}

.footer-decore {
    padding-top: clamp(2.5rem, 1.75rem + 3.750vw, 6.25rem);
    padding-bottom: clamp(2.5rem, 1.75rem + 3.750vw, 6.25rem);
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

footer .footer__top-cover {
    margin-bottom: clamp(2.5rem, 1.75rem + 3.750vw, 6.25rem);
}


.footer__content-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(3.75rem, 3.25rem + 2.500vw, 6.25rem);
}

.footer__email {
    >img {
        width: 160px;
        height: auto;
        margin-bottom: 30px;
    }

    .footer__email-wrapper {
        position: relative;

        input {
            padding: 21px 60px;
            border: 1px solid #262626;
            border-radius: 12px;
            background-color: #141414;
            color: #fff;
            width: clamp(22.5rem, 10.688rem + 13.125vw, 26.438rem);
            /* max-width: 423px; 360*/
        }

        >img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            left: 24px;
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            right: 24px;
            cursor: pointer;

        }
    }
}

.footer__content-inner nav .footer__nav {
    display: flex;
    gap: clamp(3.75rem, -3.75rem + 8.333vw, 6.25rem);

    .footer__nav-col h3 {
        font-weight: 500;
        font-size: clamp(1rem, 0.95rem + 0.250vw, 1.25rem);
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #999999;
        padding-bottom: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
    }

    .footer__nav-col ul li:not(:last-child) {
        padding-bottom:clamp(0.5rem, 0.35rem + 0.750vw, 1.25rem);
    }

    .footer__nav-col ul li a {
        font-weight: 500;
        font-size: clamp(0.875rem, 0.825rem + 0.250vw, 1.125rem);
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #fff;

        &:hover {
            text-decoration: underline
        }

        &:active {
            text-decoration: underline
        }
    }
}

.copyright__cover {
    background-color: #191919;
    padding-top: 27px;
    padding-bottom: 27px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .copyright__terms {
        display: flex;
        align-items: center;
        gap: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.006em;
        color: #FFFFFF;
        flex-wrap: wrap;

        a:hover {
            text-decoration: underline;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: #141414;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

@media(width < 1520px) {
    .dream__items {
        gap: 16px;
    }

    .dream__items li {
        padding: 14px 20px;
    }
}

@media(width < 1440px) {
    .discovery__items {
        grid-template-columns: 4fr 3fr;
    }

    .discovery__img img:nth-child(3) {
        left: -17%;
    }

    .discovery__img img:nth-child(1) {
        max-width: 400px;
    }
}

@media (width < 1370px) {
    .footer__content-inner {
        display: block;
    }

    .footer__nav {
        gap: unset;
        justify-content: space-between;
    }

    .footer__email {
        padding-bottom: 40px;
    }

    .footer__email-wrapper {
        max-width: 360px;
    }
}

@media (width < 1320px) {
    .footer__inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (width < 1300px) {

    .featured__cover,
    .clients__inner,
    .frequently__cover,
    .footer__top-cover,
    .footer__content,
    .copyright__cover {
        padding-left: 40px;
        padding-right: 40px;
    }

    .title-block .title-block-top p {
        max-width: 830px;
    }
}

@media (width < 1260px) {
    .discovery__items {
        grid-template-columns: 6fr 3fr;
    }

    .discovery__img img:nth-child(3) {
        left: -32%;
    }

    .discovery__items .dream {
        padding-left: 20px;
    }

    .discovery__items .dream__items {
        padding-left: 20px;
    }

    .dream__items li {
        padding: 14px;
    }

    .header__inner-bottom {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (width < 1120px) {
    footer .title-block {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    footer .title-block .title-block-top p {
        max-width: 100%;
    }

    footer .title-block.footer-btn button {
        padding: clamp(0.625rem, 0.425rem + 1.000vw, 1.125rem) clamp(0.813rem, 0.538rem + 1.375vw, 1.5rem);
        border-radius: clamp(0.375rem, 0.275rem + 0.500vw, 0.625rem);
        font-size: clamp(0.938rem, 0.863rem + 0.375vw, 1.125rem);
    }
}


@media (width < 1070px) {
    .title-block {
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }

    .title-block .title-block-top p {
        max-width: 100%;
    }
}

@media (width < 960px) {
    .discovery__items .dream {
        padding-left: 0px;
    }

    .discovery__items .dream__items {
        padding-left: 0px;
    }
}

@media (width < 920px) {
    .discovery__img img:nth-child(3) {
        left: 49%;
        top: 8%;
    }

    /* .featured__inner {
        padding-left: 20px;
        padding-right: 20px;
    } */

    .footer__content-inner nav .footer__nav {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (width < 800px) {
    .footer__copyright .copyright__terms {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}

@media (width < 880px) {
    header nav li a {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .header__bottom-cover {
        padding: 0px !important;
    }

    .header__inner-bottom {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (width < 769px) {
    .header__nav {
        display: none;
    }

    .header__bottom-cover:has(#burger:checked) {
        position: relative;
    }

    #burger:checked+.header__nav {
        display: block;
        position: absolute;
        top: 50px;
        right: 5px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
            background-color: black;
            border-radius: 9px;

            li.active a {
                border: none;
                background-color: transparent;
            }

            li {
                width: 100%;
                border-radius: 8px;

                a {
                    display: block;
                    line-height: 1;

                }

                &:hover {
                    background-color: red;
                }

                &:active {
                    background-color: red;
                }
            }
        }
    }

    .header__contact {
        display: none;
    }

    .burger__menu {
        display: block !important;
    }

    .header__inner-top {
        justify-content: left;
    }

    .header .close {
        right: 16px;
    }

    /* .featured__inner,
    .clients__inner,
    .frequently__inner,
    .footer__inner {
        padding-left: 16px;
        padding-right: 16px;
    } */

    .featured__cover,
    .clients__inner,
    .frequently__cover,
    .footer__top-cover,
    .footer__content,
    .copyright__cover {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (width < 910px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }



    .discovery__items {
        display: flex;
        flex-direction: column;

        .dream__items {
            padding-bottom: 40px;
        }

        .dream {
            padding-top: 40px;

            .dream__btns.btns {
                margin-bottom: 40px;
            }
        }


        .discovery__img {
            order: 1;
        }

        .dream {
            order: 2;
        }

        .dream__items {
            order: 3;
        }

        .discovery__img img:nth-child(3) {
            top: 79%;
            left: 19%;
            z-index: 5;
        }


    }

    .dream__items li {
        flex-grow: 1;
    }
}

@media (width < 650px) {
    .dream__items {
        flex-wrap: wrap;
    }
}

@media (width < 561px) {
    .footer__copyright {
        justify-content: center;
    }

    .footer__copyright .copyright__terms {
        align-items: center;
        order: 2;
    }
}

@media (width < 544px) {
    .featured__card {
        min-width: clamp(18rem, -2rem + 100.000vw, 32rem);
    }

    .featured__card {
        padding: clamp(0.625rem, -2.054rem + 13.393vw, 2.5rem);
    }

    .featured__card h3 {
        font-size: clamp(1.188rem, 0.741rem + 2.232vw, 1.5rem);
    }

    .featured__card p {
        font-size: clamp(0.813rem, 0.366rem + 2.232vw, 1.125rem);
    }

    .featured__card .featured__rooms {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }


    .featured__card .featured__card-price .featured__totalprice span:first-child {
        font-size: clamp(1rem, 0.821rem + 0.893vw, 1.125rem);
    }

    .featured__card .featured__card-price .featured__totalprice span:last-child {
        font-size: clamp(1.25rem, 0.893rem + 1.786vw, 1.5rem);
    }

    .featured__card .featured__card-price button {
        font-size: clamp(0.875rem, 0.875rem + 0.000vw, 0.875rem);
        padding: clamp(0.625rem, -0.089rem + 3.571vw, 1.125rem) clamp(0.75rem, -3.089rem + 19.196vw, 3.438rem);
        border-radius: clamp(0.313rem, -0.134rem + 2.232vw, 0.625rem);
    }

    .pagination .pagination__arrows button {
        width: clamp(2.813rem, 1.652rem + 5.804vw, 3.625rem);
        height: clamp(2.813rem, 1.652rem + 5.804vw, 3.625rem);
    }

    .pagination .pagination__num {
        font-size: clamp(1rem, 0.821rem + 0.893vw, 1.125rem);
    }

    .dream__btns button {
        padding: clamp(0.875rem, 0.125rem + 0.833vw, 1.125rem) clamp(1.25rem, 0.5rem + 0.833vw, 1.5rem);
    }


    .clients .clients__cards .clients__card {
        padding: clamp(0.625rem, -2.946rem + 17.857vw, 3.125rem);
    }


    .clients .clients__cards .clients__card {
        min-width: clamp(18rem, -2rem + 100.000vw, 32rem);
    }

    .clients .clients__cards .clients__card h3 {
        font-size: clamp(1.25rem, 0.893rem + 1.786vw, 1.5rem);
    }

    .clients .clients__cards .clients__card p {
        font-size: clamp(1rem, 0.821rem + 0.893vw, 1.125rem);
    }

    .clients__card-descr span:first-child {
        font-size: clamp(1.125rem, 0.946rem + 0.893vw, 1.25rem) !important;
    }

    .clients__card-descr span:last-child {
        font-size: clamp(1rem, 0.821rem + 0.893vw, 1.125rem) !important
    }


    .title-block .title-block-top h2 {
        font-size: clamp(1.813rem, 1.009rem + 4.018vw, 2.375rem);
    }

    .frequently__items .frequently__item {
        padding: clamp(0.625rem, -2.946rem + 17.857vw, 3.125rem);
        min-width: clamp(18rem, -2rem + 100.000vw, 32rem);
        gap: clamp(1rem, -0.25rem + 6.250vw, 1.875rem);

        h3 {
            font-size: clamp(1.188rem, 0.741rem + 2.232vw, 1.5rem);
        }

        p {
            font-size: clamp(1rem, 0.821rem + 0.893vw, 1.125rem);
        }

        a {
            padding: clamp(0.625rem, -0.089rem + 3.571vw, 1.125rem) clamp(0.625rem, -0.089rem + 3.571vw, 1.125rem);
            max-width: clamp(7.063rem, 4.92rem + 10.714vw, 8.563rem);
            border-radius: clamp(0.438rem, 0.17rem + 1.339vw, 0.625rem);
        }
    }

    .footer__email-wrapper {
        max-width: 100%;

        input {
            max-width: 100%;
        }
    }

}

@media (width < 430px) {
    .dream__btns {
        flex-direction: column;
        gap: 16px;

        button {
            width: 100%;
        }
    }

    .discovery__items .discovery__img img:nth-child(3) {
        left: 30px;
    }
}

@media (width < 420px) {
    .header__inner-top {
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }

    .header__inner::after {
        height: 72px;
    }


}

@media (width < 390px) {
    footer .title-block.footer-btn button {
        width: 100%;
    }
}